<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCW_ywkVyI3ROaUQ6L5sCJ-Z0OMDuZeFtg</string>
	<key>GCM_SENDER_ID</key>
	<string>319024990053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Unity-Technologies.com.unity.template.urp-blank</string>
	<key>PROJECT_ID</key>
	<string>korcham4th-park</string>
	<key>STORAGE_BUCKET</key>
	<string>korcham4th-park.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319024990053:ios:05435bcc6f19315ec8038c</string>
</dict>
</plist>